
.cat-img{
  width: 640px;
  height: 480px;
  margin: 0 auto;
}

.content{
  width: 900px;
  margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 20px;
    font-size: 2em;
    font-style: italic;
}
